  <div id="uconn-header-container">
    <div class="container">
      <div class="row">
        <div id="home-link-container" class="col-md-8">
          <a id="home-link" href="http://uconn.edu/">
            <span id="wordmark" class="smoothing">UCONN</span>
            <span id="university-of-connecticut" class="smoothing hidden-xs">Office of Student Services and Advocacy</span>
          </a>
        </div>
          <div id="button-container" class="hidden-sm hidden-xs col-md-4">
            <span>
              <a class="btn btn-primary" href="http://uconn.edu/search.php"><i class="glyphicon glyphicon-search"></i>
              </a>
            </span>
            <span>
              <a class="btn btn-primary letters" href="http://uconn.edu/azindex.php">
                <span class="letter">A</span><span class="dash">-</span><span class="letter">Z</span>
              </a>
            </span>
          </div>
      </div>  
    </div>  
  </div>
{% if site.show_header != false %}
  <div class="container" id="site-header">
    <div class="row">
      <div class="col-md-8">
        <p id="super-title"><a href="{{ site.department_url }}" class="smoothing">{{ site.department }}</a></p>
        <h1 id="site-title" class="smoothing"><a href="/">{{ site.name }}</a></h1>        
      </div>
      <div id="search-container" class="span4">
        {% if site.search != false %}
          {{ site.search }}
        {% endif %}      
      </div>
    </div>
  </div>
{% endif %}

  <div class="container">
    <h1>Readmissions Application</h1>
    <form role="form">
      <fieldset>
        <legend>About you</legend>
        <div class="form-group">
          <label class="control-label">First name</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label class="control-label">Middle name</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label class="control-label">Last name</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label class="control-label">Former last name</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group row">
          <div class="col-xs-8 col-sm-6 col-md-4">
            <label class="control-label">Date of birth</label>
            <input type="date" class="form-control">
          </div>
        </div>

      </fieldset>
      <button type="submit" class="btn btn-default">Submit</button>
      <button class="btn"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
    </form>
    <div class="col-md-4 hidden-sm hidden-xs">
      <p>Help!</p>
      <ol>
        <li>First step</li>
        <li>Second step</li>
        <li>Third step</li>
      </ol>
    </div>
  </div>

  <div id="footer">
    <div class="container">
      <div class="row">
        <ul class="nav nav-pills">
          <li><a href="http://uconn.edu/">&copy; University of Connecticut</a></li>
          <li><a href="http://uconn.edu/disclaimers-and-copyrights.php">Disclaimers, Privacy &amp; Copyright</a></li>
          <li><a href="https://secure.sa.uconn.edu/dds/gloria/main/about">Recent Updates</a></li>
        </ul>
      </div>
    </div>
  </div>
